<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.micromall.micromall.db.user.mapper.MicromallCollectMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collect_id, user_id, value_id, type, add_time, update_time, deleted
    </sql>

    <select id="list" resultType="run.micromall.micromall.db.user.model.entity.MicromallCollect">
        select
        <include refid="Base_Column_List"/>
        from micromall_collect
        ${ew.customSqlSegment}
    </select>

</mapper>
